<% layout("/boilerplate/admin_boiler.ejs") %>
<body>
    <div class="blog-container width margin montserrat">
        <div>
            <img src="/images/under-construction.jpg" alt="">
        </div>
        <h1>Under Construction</h1>
    </div>
</body>
