<!-- navbar 1 in desktop view -->

<nav class="nav width margin flex">
    <div class="logo">
        <a class="flex" href="/">
            <div class="img flex">
                <img src="/images/23-54115-3.png" alt="logo-image">
            </div>
            <p>NaeemMajumder</p>
        </a>
    </div>

    <div class="links">
        <ul class="flex montserrat">
            <li class="flex"><a class="nav-a" href="/admin/contact">Contact</a></li>
            <li class="flex"><a class="nav-a" href="/admin/projects">Projects</a></li>
            <li class="flex"><a class="nav-a" href="/admin/review">Review</a></li>
            <li class="flex"><a class="nav-a" href="/admin/blog">Blog</a></li>
            <li class="flex"><a href="/admin/logout">Logout</a></li>
            <div class="menu-div">
                <li class="menu"><i class="fa-solid fa-bars"></i></li>
            </div>

        </ul>
    </div>
</nav>


<!-- Navbar 2 for small and medium devices -->

<nav class="nav2 width">
    <div class="logo img-cross">
        <a class="flex" href="">
            <div class="img flex">
                <img src="../images/hero.png" alt="logo-image">
            </div>
        </a>

        <div class="cross-div">
            <div class="cross">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>

    <p class="info Poppins">
        Hi my name is Naeem Majumder. I am a MERN Stack Website Developer.
    </p>

    <div class="link">
        <li class="flex"><a href="/">Home</a></li>
        <li class="flex"><a href="/about">About Me</a></li>
        <li class="flex"><a href="/projects">Projects</a></li>
        <li class="flex"><a href="/review">Review</a></li>
        <li class="flex"><a href="/blog">Blog</a></li>
    </div>

    <div class="social-link">
        <p>FIND WITH ME</p>
        <div class="social flex">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</nav>