<% layout("/boilerplate/boilerplate.ejs") %>
<body>
    <!-- main -->
    <main>
        <section class="width margin montserrat">
            <div class="about-div-img">
                <img src="/images/hero.png" alt="">
            </div>

            <div class="about-name">
                <h1>Naeem Majumder</h1>
                <h4 class="poppins">Website Developer (MERN Stack)</h4>
            </div>
        </section>

        
        <!-- about me -->
        <section class="aboutme width margin">

            <h2 class="about-h2">About Me</h2>
            <p class="about-p poppins">
                I’m a MERN Stack developer who is passionate about creating&nbsp;<span> robust and efficient web applications </span>&nbsp;with 100% client satisfaction. I am passionate about learning and sharing my knowledge with others as publicly as possible. I love to solve real-world problems. I am strategic and goal-oriented, and I always work with an end goal in mind. Over the past years, I’ve built numerous applications,&nbsp;<span> focusing on quality work </span>&nbsp;and maintaining excellent communication. While I primarily work with the MERN stack, I also have experience with C, C++, and JAVA, which I enjoy working with.
            </p>
        </section>


        <!-- Education -->
        <section class="education width margin">
            <h2 class="about-h2">Education</h2>

            <div class="education-cards flex">

                <div class="edu-card flex" data-aos="flip-up">
                    <div class="edu-info">
                        <div class="edu-img ">
                            <img src="/images/AIUB_logo.png" alt="AIUB_logo">
                        </div>
                        <div class="edu-content">
                            <span>2023-2027 <i>(estimated)</i></span>
                            <h3 class="montserrat">BSc in Computer Science</h3>
                            <h4 class="montserrat">
                                American International University-Bangladesh
                            </h4>
                            <p>408/1, Kuratoli, Khilkhet, Dhaka 1229, Bangladesh</p>
                        </div>
                    </div>
                    <a target="_blank" class="visit poppins" href="https://www.aiub.edu/">Visit Site</a>                       

                </div>

                <div class="edu-card flex" data-aos="flip-up">
                    <div class="edu-info">
                        <div class="edu-img ">
                            <img src="/images/milestone_logo.png" alt="milestone_logo">
                        </div>
                        <div class="edu-content">
                            <span>2021-2022</span>
                            <h3 class="montserrat">Higher Secondary School Certificate</h3>
                            <h4 class="montserrat">
                                Milestone College
                            </h4>
                            <p>Sector 11, Uttara Model Town, Uttara, Dhaka - 1230</p>
                        </div>
                    </div>
                    <a class="visit poppins" href="https://www.milestonecollege.com/" target="_blank">Visit Site</a>                       

                </div>

                <div class="edu-card flex" data-aos="flip-up">
                    <div class="edu-info">
                        <div class="edu-img ">
                            <img src="/images/IES_logo.png" alt="IES_logo">
                        </div>
                        <div class="edu-content">
                            <span>2019-2020</span>
                            <h3 class="montserrat">Secondary School Certificate</h3>
                            <h4 class="montserrat">
                                I.E.S. Uchcha Madyamic Bidyalaya
                            </h4>
                            <p>Sector 5, Uttara Model Town, Uttara, Dhaka - 1230</p>
                        </div>
                    </div>
                    <a class="visit poppins" href="https://www.iesumb.edu.bd/" target="_blank">Visit Site</a>                       

                </div>

            </div>

        </section>


        <!-- Professional Skills -->
        <section class="p-skills width margin">
            <h2 class="about-h2 montserrat p-h2">Professional Skills</h2>

            <div class="skills-cards montserrat flex" data-aos="fade-up" >

                <div class="skill-card">
                    <p class="skill-card-p poppins">Features</p>
                    <h4 class="skill-card-h4">Primary Skills</h4>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>HTML5</span>
                            <span>95%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress1"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>CSS3</span>
                            <span>85%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress2"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>JAVASCIRPT</span>
                            <span>70%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress3"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>REACT JS</span>
                            <span>70%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress4"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>MONGO DB</span>
                            <span>75%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress5"></div>
                        </div>
                    </div>
                </div>

                <div class="skill-card">
                    <p class="skill-card-p poppins">Features</p>
                    <h4 class="skill-card-h4">Secondary Skills</h4>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>C (Basic)</span>
                            <span>85%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress6"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>C++ (Basic)</span>
                            <span>75%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress7"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>JAVA (Basic)</span>
                            <span>85%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress8"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>GIT / GITHUB</span>
                            <span>70%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress9"></div>
                        </div>
                    </div>

                    <div class="rate-div">
                        <p class="rate-div-p flex">
                            <span>PHOTOSHOP</span>
                            <span>30%</span>
                        </p>
                        <div class="rate">
                            <div class="percent" id="progress10"></div>
                        </div>
                    </div>
                </div>

            </div>

        </section>


        <!-- Contact -->
        <section class="about-contact">
            <h2 class="about-h2 montserrat">Contact</h2>

            <div class="contact-divs" data-aos="fade-in">
                <div class="contact-card freelancer">
                    <p><i class="fa-solid fa-user-tie"></i></p>
                    <h4 class="montserrat">Freelance</h4>
                    <h5>Available Right Now</h5>
                </div>

                <div class="contact-card" data-aos="fade-in">
                    <p><i class="fa-solid fa-phone"></i></p>
                    <h4 class="montserrat">Phone</h4>
                    <h5>+8801688399676</h5>
                </div>

                <div class="contact-card" data-aos="fade-in">
                    <p><i class="fa-solid fa-envelope-open-text"></i></p>
                    <h4 class="montserrat">Email</h4>
                    <h5>naeemmajumder00@gmail.com</h5>
                </div>
            </div>
        </section>
    </main>
</body>