<% if(deleteFlash && deleteFlash.length){ %>
    <div class="flash-container width margin">
        <div class="flash  alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= deleteFlash  %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% } %>

<% if(addFlash && addFlash.length){ %>
    <div class="flash-container width margin">
        <div class="flash  alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= addFlash  %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% } %>

<% if(wrongFlash && wrongFlash.length){ %>
    <div class="flash-container width margin">
        <div style="background-color: rgba(255, 0, 0, 0.818);" class="flash  alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= wrongFlash  %></strong>
            <button style="z-index: 1000;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<% } %>



