<% layout("/boilerplate/boilerplate.ejs") %>
<body>
    <!-- Hero area -->
    <section class="hero-area width margin">
        <div class="hero-content">
            <h1 class="playfair-display text1">👋 my name is Naeem Majumder & I am a </h1>
            <h1 class="archivo-black h1 text2">Website</h1>
            <h1 class="playfair-display h1 text3">Developer</h1>
            <h1 class="playfair-display h1 text4">based in Dhaka, Bangladesh ❤️</h1> 
        </div>

        <div class="hero-img">
            <img src="/images/hero.png" alt="">
        </div>
    </section>

    <!-- Main Section -->

    <main>

        <!-- What I do -->
        <section class="services poppins width margin">

            <p class="montserrat skill-p">MY SERVICES</p>
            <h2 class="montserrat skill-h2 do">What I do</h2>

            <div class="service">

                <div class="service-card" data-aos="flip-left">
                        <a href="/about">
                            <div>
                                <i class="fa-solid fa-laptop-code"></i>
                            </div>
                            <h3 class="service-card-h3">Front-end developer</h3>
                            <p class="service-card-p">I am a Front End Web developer who is passionate about making error-free websites with 100% client satisfaction.</p>
                            <i class="fa-solid fa-arrow-right arrow"></i>
                        </a>
                        
                </div>

                <div class="service-card" data-aos="flip-up">
                    <a href="/about">
                        <div>
                            <i class="fa-solid fa-database"></i>
                        </div>
                        <h3 class="service-card-h3">Back-end developer</h3>
                        <p class="service-card-p">I am a Back End Web developer who is passionate about making error-free websites with 100% client satisfaction.</p>
                        <i class="fa-solid fa-arrow-right arrow"></i>
                    </a>
                </div>

                <div class="service-card" data-aos="flip-right">
                    <a href="/about">
                        <div>
                            <i class="fa-brands fa-figma"></i>
                        </div>
                        <h3 class="service-card-h3">Design Skills</h3>
                        <p class="service-card-p">Proficient in Figma design, effectively convert Figma to 100% error-free structured code.</p>
                        <i class="fa-solid fa-arrow-right arrow"></i>
                    </a>
                </div>

            </div>

        </section>

        <!-- Skills section -->
        <section class="skill width margin">
            <p class="montserrat skill-p">WEBSITE DEVELOPER & SOFTWARE DEVELOPER</p>
            <h2 class="montserrat skill-h2">Tools I use</h2>

            <div class="skill-div">

                <div class="primary flex">

                    <div class="primary primary2">
                        <p class="Poppins">PRIMARY SKILLS ON</p>

                        <div class="flex">
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/html/"><img src="/images/icons-18.png" alt="html"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/css/"><img src="/images/css.png" alt="css"></a></div>
                            <div class="icon bootstrap flex"><a target="_blank" href="https://www.w3schools.com/bootstrap5/"><img src="/images/bootstrap.png" alt="bootstrap"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://tailwindcss.com/"><img src="/images/tailwind.png" alt="tailwind"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/js/"><img src="/images/js.png" alt="javascript"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/REACT/DEFAULT.ASP"><img src="/images/icons-16.png" alt="REACT js"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/nodejs/"><img src="/images/node.png" alt="node js"></a></div>
                            <div class="icon mongo flex"><a target="_blank" href="https://www.w3schools.com/mongodb/"><img src="/images/mongo.png" alt="mongodb database"></a></div>
                        </div>

                        <p class="Poppins"></p>
                        <p class="Poppins"></p>
                        <p class="Poppins"></p>
                    </div>

                </div>

                <div class="primary flex">

                    <div class="primary primary2">
                        <p class="Poppins">SECONDARY SKILLS ON</p>

                        <div class="flex">
                            <div class="icon figma flex"><a target="_blank" href="https://www.figma.com/resource-library/design-basics/"><img src="/images/icons-03-1.png" alt="Figma"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://creativecloud.adobe.com/learn/app/photoshop"><img src="/images/icons-04.png" alt="Photoshop"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/python/"><img src="/images/icons-08.png" alt="python"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://support.mozilla.org/en-US/products/firefox/get-started"><img src="/images/icons-19.png" alt="firefox"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/c/"><img src="/images/c.png" alt="C language"></a></div>
                            <div class="icon cpp flex"><a target="_blank" href="https://www.w3schools.com/cpp/"><img src="/images/c++.png" alt="C++ language"></a></div>
                            <div class="icon java flex"><a target="_blank" href="https://www.w3schools.com/java/"><img src="/images/java.png" alt="java"></a></div>
                            <div class="icon mongo flex"><a target="_blank" href="https://www.w3schools.com/git/"><img src="/images/git.png" alt="git version control"></a></div>
                        </div>
                    </div>

                </div>

                <!-- Second Time -->

                <div class="primary flex">

                    <div class="primary primary2">
                        <p class="Poppins">PRIMARY SKILLS ON</p>

                        <div class="flex">
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/html/"><img src="/images/icons-18.png" alt="html"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/css/"><img src="/images/css.png" alt="css"></a></div>
                            <div class="icon bootstrap flex"><a target="_blank" href="https://www.w3schools.com/bootstrap5/"><img src="/images/bootstrap.png" alt="bootstrap"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://tailwindcss.com/"><img src="/images/tailwind.png" alt="tailwind"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/js/"><img src="/images/js.png" alt="javascript"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/REACT/DEFAULT.ASP"><img src="/images/icons-16.png" alt="REACT js"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/nodejs/"><img src="/images/node.png" alt="node js"></a></div>
                            <div class="icon mongo flex"><a target="_blank" href="https://www.w3schools.com/mongodb/"><img src="/images/mongo.png" alt="mongodb database"></a></div>
                        </div>
                    </div>

                </div>

                <div class="primary flex">

                    <div class="primary primary2">
                        <p class="Poppins">SECONDARY SKILLS ON</p>

                        <div class="flex">
                            <div class="icon figma flex"><a target="_blank" href="https://www.figma.com/resource-library/design-basics/"><img src="/images/icons-03-1.png" alt="Figma"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://creativecloud.adobe.com/learn/app/photoshop"><img src="/images/icons-04.png" alt="photoshop"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/python/"><img src="/images/icons-08.png" alt="python"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://support.mozilla.org/en-US/products/firefox/get-started"><img src="/images/icons-19.png" alt="firefox"></a></div>
                            <div class="icon flex"><a target="_blank" href="https://www.w3schools.com/c/"><img src="/images/c.png" alt="C language"></a></div>
                            <div class="icon cpp flex"><a target="_blank" href="https://www.w3schools.com/cpp/"><img src="/images/c++.png" alt="C++ language"></a></div>
                            <div class="icon java flex"><a target="_blank" href="https://www.w3schools.com/java/"><img src="/images/java.png" alt="java"></a></div>
                            <div class="icon mongo flex"><a target="_blank" href="https://www.w3schools.com/git/"><img src="/images/git.png" alt="git version control"></a></div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

        <!-- Projects -->
        <section class="projects width margin services">

            <p class="montserrat skill-p">some sample of projects I've worked on</p>
            <h2 class="montserrat skill-h2 do">Selected projects</h2>

            <div class="service project" data-aos="fade-up">
                <div class="project-card service-card">
                    <div>
                        <img src="/images/mini-airbnb.png" alt="mini-airbnb">
                    </div>
                    <h3 class="project-tool service-card-h3">HTML | CSS | Bootstrap | JS | Node.js | Express | Mongodb </h3>
                    <h3 class="project-title service-card-h3">Mini-airbnb</h3>
                    <p class="project-description service-card-p">This is a simple clone of the Airbnb website. I use HTML, CSS, and Bootstrap, Node.js and Express, and MongoDB for the database. I use passport for authentication.  </p>
                    <a class="hello live flex" target="_blank" href="https://mini-airbnb-op0c.onrender.com/listing">live link <i class="fa-solid fa-arrow-right arrow"></i></a>
                </div>
                <div class="project-card service-card">
                    <div>
                        <img src="/images/fitness.png" alt="">
                    </div>
                    <h3 class="project-tool service-card-h3">HTML | CSS</h3>
                    <h3 class="project-title service-card-h3">Fitness</h3>
                    <p class="project-description service-card-p">This is a fitness website landing page. Where I use HTML and CSS. This page is mobile and tab-responsive.  </p>
                    <a class="hello live flex" target="_blank" href="https://naeemmajumder.github.io/Assignment-2_PH_B10/">live link <i class="fa-solid fa-arrow-right arrow"></i></a>
                </div>
                <div class="project-card service-card project-3">
                    <div>
                        <img src="/images/Rinterio.png" alt="">
                    </div>
                    <h3 class="project-tool service-card-h3">tool | tool </h3>
                    <h3 class="project-title service-card-h3">Project Title</h3>
                    <p class="project-description service-card-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia eveniet eligendi, architecto  </p>
                    <a class="hello live flex" target="_blank" href="https://naeemmajumder.github.io/Assignment-3_PH_B10/">live link <i class="fa-solid fa-arrow-right arrow"></i></a>
                </div>

            </div>

            <a class="project-more" href="/projects">See More Projects &nbsp;<i class="fa-solid fa-arrow-right arrow"></i></a>

        </section>

        <!-- fixed -->
        <div class="fixed  margin">
        </div>

        <!-- review -->
        <section class="review width margin">
        </section>

        <!-- Contact -->
        <section class="contact width margin">

            <p class="montserrat skill-p">LET'S TALK ABOUT IDEA</p>
            <h2 id="contact" class="montserrat skill-h2 do">Contact</h2>

            <div class="contact-div poppins" data-aos="fade-right">
                <div class="contact-info">
                    <div class="img-div">
                        <img src="/images/contact.jpg" alt="">
                    </div>
                    <h3 class="nm montserrat">Naeem Majumder</h3>
                    <h4 class="profession">MERN Stack Website Developer</h4>
                    <p class="lines">Are you looking for a website developer? Connect with me via call in to my account.</p>

                    <p class="via pn">Phone: <a href="tel:+8801688399676">+8801688399676</a></p>
                    <p class="via">Email: <a href="mailto:naeemmajumder00@gmail.com"> naeemmajumder00@gmail.com</a></p>

                    <p class="montserrat find">FIND WITH ME</p>

                    <div class="social-link contact-link">
                        <div class="social flex">
                            <a href="https://www.facebook.com/naeem.majumder?mibextid=LQQJ4d" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/naeem-majumder-61a7002a0/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="https://github.com/NaeemMajumder" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>

                </div>

                <div class="contact-form montserrat" data-aos="fade-left">
                    <form method="POST" action="/" novalidate class="needs-validation">

                        <div class="name">
                            <label class="contact-label" for="name">YOUR NAME <span>*</span></label> 
                            <br>
                            <input class="input" type="text" id="name" name="name" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please write your name.
                            </div>
                        </div>

                        <div class="phone">
                            <label class="contact-label" for="phone">PHONE NUMBER <span>*</span></label>
                            <br> 
                            <input class="input" type="number" id="phone" name="number" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please write your phone number.
                            </div>
                        </div>
                    
                        <div class="email">
                            <label class="contact-label" for="email">EMAIL <span>*</span></label>
                            <br>
                            <input class="input" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please write your email.
                            </div>
                        </div>
    
                        <div class="subject">
                            <label class="contact-label" for="subject">SUBJECT <span>*</span></label>
                            <br>
                            <input class="input" type="text" id="subject" name="subject" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please write subject.
                            </div>
                        </div>

                        <div class="message">
                            <label class="contact-label" for="message">YOUR MESSAGE <span>*</span></label> <br>
                            <textarea class="textarea" name="message" id="message" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please write a message.
                            </div>
                        </div>
                        <button class="btn-send">SEND MESSAGE</button>

                    </form>

                </div>
            </div>
        </section>

    </main>
</body>
